{{ "<!-- NAVIGATION -->" | safeHTML }}
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        {{ "<!-- Brand and toggle get grouped for better mobile display -->" | safeHTML }}
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{ with .Site.Params.navigation.brand }}
                <a class="navbar-brand page-scroll" href="#page-top">{{ . | markdownify }}</a>
            {{ end }}
        </div>
        {{ "<!-- Collect the nav links, forms, and other content for toggling -->" | safeHTML }}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {{ if and .Site.Params.stammbaum .Site.Params.navigation.links.stammbaum }}
                    <li>
                        <a class="page-scroll" href="#stammbaum">{{ .Site.Params.navigation.links.stammbaum }}</a>
                    </li>
                {{ end }}
                {{ if and .Site.Params.petersen.list .Site.Params.navigation.links.petersen }}
                    <li>
                        <a class="page-scroll" href="#petersen">{{ .Site.Params.navigation.links.petersen }}</a>
                    </li>
                {{ end }}
                {{ if and .Site.Params.essert.list .Site.Params.navigation.links.essert }}
                    <li>
                        <a class="page-scroll" href="#essert">{{ .Site.Params.navigation.links.essert }}</a>
                    </li>
                {{ end }}
                {{ if and .Site.Params.urpetersen.list .Site.Params.navigation.links.urpetersen }}
                    <li>
                        <a class="page-scroll" href="#urpetersen">{{ .Site.Params.navigation.links.urpetersen }}</a>
                    </li>
                {{ end }}
                {{ if and .Site.Params.uressert.list .Site.Params.navigation.links.uressert }}
                    <li>
                        <a class="page-scroll" href="#uressert">{{ .Site.Params.navigation.links.uressert }}</a>
                    </li>
                {{ end }}
                {{ if and .Site.Params.statistik .Site.Params.navigation.links.statistik }}
                <li>
                    <a class="page-scroll" href="#statistik">{{ .Site.Params.navigation.links.statistik }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
        {{ "<!-- /.navbar-collapse -->" | safeHTML }}
    </div>
    {{ "<!-- /.container-fluid -->" | safeHTML }}
</nav>
