{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-primary" id="stammbaum">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                {{ with .Site.Params.stammbaum.headline }}
                    <h2 class="section-heading">{{ . }}</h2>
                {{ end }}
                {{ if and .Site.Params.stammbaum.headline .Site.Params.stammbaum.description }}
                    <hr class="light">
                {{ end }}
                {{ with .Site.Params.stammbaum.description }}
                    <p class="text-faded">{{ . | markdownify }}</p>
                {{ end }}
                {{ with .Site.Params.stammbaum.buttonText }}
                    <a href="#" class="btn btn-default btn-xl">{{ . }}</a>
                {{ end }}
            </div>
        </div>
    </div>
</section>
